.center {
    text-align: center
}

body {
    background-color: #000;
    color: #fff;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    padding: 0;
    margin: 0;
    height: 100vh;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

@media (max-width: 1024px) {
    .body {
        max-width: none;
    }
}

a,
a:hover {
    text-decoration: none;
    color: #fff
}

/* a tag styles */
a {
    display: block;
    padding: 10px
}

.active a {
    font-size: 12px;
    font-weight: 700;
}


.video {
    float: right;
    width: 60%;
    margin-top: -20px
}

.row-content-wrap {
    margin: 0
}




@media (min-width:768px) {
    .container {
        margin: 40px 0
    }
}

@media (min-width:992px) {

    .full-width .row {
        width: auto
    }

}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.fadeIn {
    animation-name: fadeIn
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.animated.delay-1s {
    -webkit-animation-delay: .5s;
    animation-delay: .5s
}

.animated.slow {
    -webkit-animation-duration: 2s;
    animation-duration: 2s
}


.media-control:hover {
    background-color: rgba(255, 255, 255, .25)
}

.media-symbol {
    display: block;
    fill: #fff;
    height: 1em;
    width: 1em
}

.media-symbol[aria-hidden=true] {
    display: none
}

.media-media[src$=".mp3"] {
    max-height: 0
}

.videos .play-item {
    display: inline-block
}

.videos .play-link.active {
    transform: scale(1.2);
    transition: all .3s
}

.thumb {
    width: 100%
}

/* Contact Page Dark Text Override */
body.contact,
body.contact .footer h2,
body.contact footer h2,
body.contact footer p,
body.contact p,
body.contact a {
    color: #000 !important;
}